.page-header{
    position: relative;
    text-align: center;
    display: inline;
    
}
.col-xs-12{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.card{
    margin: 0 auto;
    padding: 5%;
}

.text-center{
    display: flex;
    flex-direction: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}
.display-none{
    display: none;
}